/*************************TAG SELECTORS**************************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  ;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #1C6758;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #1C6758;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3D8361;
}

a {
  color: #3D8361;
  font-family: 'Montserrat', sand-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EEF2E6;
}

hr {
  width: 4%;
  height: 0;
  border: dotted grey;
  border-bottom: none;
  border-width: 6px;
  margin: 100px auto;
}

p {
  line-height: 2;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/*************************CLASS SELECTORS**************************/
.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.Title {
  background-color: grey;
  width: 27%;
  margin: auto;
}

.h2-body {
  margin-top: 100px;
}


.middle-container {
  background-color: #EEEEEE;
  padding: 100px 0 100px 0;
}

.bottom-container {
  background-color: #222831;
  color: #7FB77E;
  padding-top: 35px;
  padding-bottom: 15px;
}

.gaming-mouse {
  position: absolute;
  right: 30%;
  top: 77%;
  width: 5%;
  height: 13%;
}

.gaming-controller {
  position: absolute;
  left: 25%;
  bottom: 8%;
  width: 9%;
  height: 20%;
}

.detail {
  text-decoration: underline;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.profile-text {
  margin: auto;
  width: 20%;
}

.pharmacy-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.computer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mag-glass-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Trademark {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.btn {
  background: #FFC090;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 35px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.tv-img {
  width:500px;
  height: 440px;
  position: absolute;
  left: 35%;
  top: 10%;
}
/*************************ID SELECTORS**************************/

#keyboard-img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 30%;
}
